<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid fs-2 fw-bold">
        <a href="/" class="navbar-brand fs-2 fw-bold">
            <i class="bi bi-question-circle"></i>
            Yahoo 2.0
        </a>
        <%if(user){%>
            <div class="btn text-white fs-3">
                <i class="bi bi-person-circle text-white "></i>
            </div>
        <%}%>


    </div>
</nav>